body {
  width: 300px; /* your desired width */
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  width: 300px;
  text-align: left;
  padding: 2px;
}
p {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: #5BA546; /* Green */
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.1s;
  border: 2px solid #5BA546
}

button:hover {
  background-color: white;
  color: #5BA546;
  border: 2px solid #5BA546
}

input {
    padding: 8px 2px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: auto;
}